<nav class="custom-navbar navbar navbar-expand-lg bg-white fixed-top shadow-sm">
  <div class="container-fluid justify-content-between align-items-center px-4">
    
    <!-- Left menu -->
    <ul class="navbar-nav flex-row gap-4">
      <li class="nav-item"><a class="nav-link fw-semibold" href="#">Spend</a></li>
      <li class="nav-item"><a class="nav-link fw-semibold" href="#">Save</a></li>
      <li class="nav-item"><a class="nav-link fw-semibold" href="#">Invest</a></li>
      <li class="nav-item"><a class="nav-link fw-semibold" href="#">Advance</a></li>
    </ul>
    

    <!-- Center logo -->
    <a class="navbar-brand fw-bold fs-4 text-dark" href="#">Moto<span style="color:#7CB9E8">Insurance</span></a>

    <!-- Right menu -->
    <div class="d-flex align-items-center gap-3">
      <a class="nav-link fw-semibold text-dark" routerLink="/about">About</a>
      <a class="nav-link fw-semibold text-dark" href="#">Help</a>
      <a class="btn btn-dark rounded-pill px-4 fw-semibold" [routerLink]="['/get-quote']">
        Get Quote
      </a>
      <a class="btn btn-outline-light rounded-pill px-4 fw-semibold me-2"
   routerLink="/dashboard" routerLinkActive="active">
  <i class="bi bi-speedometer2 me-1"></i> Dashboard
</a>
      


    </div>
  </div>
</nav>

  